.button{
    color: white;
    text-align: center;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 0.75rem;
    min-width: 5rem;
    min-height: 3rem;
    font-size: 1.5rem;
}

.primary{
    background-color:#008CBA;
}
.secondary{
    background-color:#e7e7e7;
    color: black;
}
.success{
    background-color:#4CAF50;
}
.danger{
    background-color: #f44336;
}